name: "Release to crates.io"

on:
  workflow_call:
    secrets:
      cratesio_token:
        description: 'An access token to publish on crates.io.'
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tagged commit
        uses: actions/checkout@v2.3.4
        with:
          ref: ${{ github.event.release.target_commitish }}

      - run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.cratesio_token }}
